{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Batman</title>
{% endblock titulo %}

{% block JQuery %}
<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock JQuery %}


{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet">
{% endblock fonts %}

    
    
    
{% block fondo %}
<body class="fondoPP">
{% endblock fondo %}

{% block Pantalla %}
<a class="navbar-brand" href="{% url 'Pantalla' ID %}"  style="margin-left: 25px;" >Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
{% endblock Pantalla %}

{% block nintendo %}
<li class="nav-item active">
    <a class="nav-link disabled  cuN1" href="{% url 'Nintendo' ID %}">Nintendo</a>
</li>
{% endblock nintendo %}

{% block Xbox %}
<li class="nav-item active">
    <a class="nav-link disabled  cuX1" href="{% url 'xbox' ID %}">Xbox</a>
</li>
{% endblock Xbox %}

{% block Play %}
<li class="nav-item active">
    <a class="nav-link disabled  cuP1" href="{% url 'Play' ID %}">PlayStation</a>
</li>
{% endblock Play %}

{% block PC %}
<li class="nav-item active">
    <a class="nav-link disabled  cuPC1" href="{% url 'Pc' ID %}">PC</a>
</li>
{% endblock PC %}

{% block Contacto %}
<li class="nav-item active">
    <a class="nav-link disabled  cuP1" href="{% url 'Contacto' ID %}">Contactanos</a>
</li>
{% endblock Contacto %}

{% block verperfil %}
<a class="dropdown-item cuP1" href="{% url 'VerPerfil' ID %}">Ver perfil</a>
{% endblock verperfil %}

{% block Modificarperfil %}
<a class="dropdown-item cuP1" href="{% url 'ModificarP' ID %}">Modificar Perfil</a>
{% endblock Modificarperfil %}

{% block container %}
<div class="container">
        
        <br><br>
        <div class="row">
           <div class="col-md-4 col-sm-12">
            <img class="img" src="{{videojuego1.foto.url}}" alt="sin imagen"><h4 class="letraVJ , centrar" style="background-color: rgba(255, 255, 255, 0.9); margin-right: 29%;">{{ videojuego1.nombreV }}</h4>
           </div> 
           <div class="col-md-8 col-sm-12" style="margin-top: 7%;">
            <table class="table-responsive" >
              <tr><th class="centrar , letraVJ" ><h4>Descripción</h4>
              </th></tr>
              <tr>
                <th class="centrar , letraVJ"><h5>{{ videojuego1.descripcion }}</h5></th>
              </tr>
          </table> 
            </div></div>

        <br>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <H3 class="letraVJ , centrar" style="background-color: rgba(255, 255, 255, 0.9); margin-right: 30%;">Plataformas<br>
                  ° PLAYSTATION <br>
			            </H3>
                <br>
                <h2 clasS="letraVJ , centrar" style="background-color: rgba(255, 255, 255, 0.9); margin-right: 30%;">Trailer</h2><br>
                <p style="margin-left: 26%;"><a href="{{ videojuego1.trailer }}" target="_blank" ><img src="{% static 'extension./img/PLAYSTATION/logoYoutube.png' %}"  alt="youtube"  class="logoY" ></a></p>
            </div>
            <div class="col-md-8 col-sm-12">
              {% if user.is_authenticated %}
                <form action="{% url 'formComentarioBT' %}" method="POST" id="formComentario">
              
                {% csrf_token %}
  
                  <p style="margin-left: 12%;margin-right: 12%;"><textarea class="textarea" rows="6" cols="50" 
                  placeholder="Deje su comentario aquí...." id="ComentarioJ" name="ComentarioJ" required></textarea></p>
                  <input value="{{ videojuego1.id_videojuego }}" name="id_com" id="id_com" readonly style="color:rgba(240, 255, 255, 0)" >
                  <p class="centrar" style="margin-left: 12%;margin-right: 12%;">
                  <input value="Enviar" type="submit" class="btn btn , cu1"  style="color: rgb(255, 255, 255);background-color: rgba(97, 97, 97, 0.973);"></p>
                        
                {% if messages %}
                  <ul   class="" style="text-align: center; background-color: rgba(167, 167, 167, 0.851); margin-left: 12%;margin-right: 12%;">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                  </ul>
                {% endif %}
                  </form>
                  
    
    
              {% else %}
    
                <p class="centrar letraVJ" style="background-color: rgba(167, 167, 167, 0.851);"><a href="{% url 'Login'  %}">   Si quieres dejar un comentario, inicia sesion.   </a></p>
                  


              {% endif %}
            </div>
        
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h2 class="centrar , letraVJ" style="background-color: rgba(255, 255, 255, 0.9);margin-right: 30%;">Tiendas disponibles</h2><br>
                <p style="margin-left: 26%;" ><a href="{{videojuego1.link}}" target="_blank">
                    <img src="{% static 'extension./img/PLAYSTATION/logoplay.jpg' %}" alt="Juego Play" class="logoY"></a></p>
        </div>
        <div class="col-md-8 col-sm-12"></div>
        
      </div><br>

      <h3 style="color: rgb(5, 5, 5);background-color: rgba(167, 167, 167, 0.851);text-align: center;">Comentarios </h3>
          <br>
          <div class="row">
            <div class="table-responsive">
            <table class="table">
                <tr>
                  <th>Usuario</th>
                  <th>Comentario</th>
                  
                </tr>

                {% for u in Comentario %}
                <tr>
                  <td>{{ u.usuario_id_usuario.nombreU }} {{ u.usuario_id_usuario.apellido }}</td>
                  <td>{{ u.comentarios }}</td>
                </tr>
                {% endfor %}
                
              </table>
            </div>
        </div>
            











        




    </div>
{% endblock container %}
 
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}

{% block validaciones %}
<script src="{% static 'extension/Validaciones/olvidado.js' %}"></script>
{% endblock validaciones %} 
    
    
    
        
