{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>PlayStation</title>
{% endblock titulo %}


{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
{% endblock fonts %}
    
{% block fondo %}
<body class="fondoP , cuP">
{% endblock fondo %}

{% block container %}
<div class="container">
    <br>

    <div class="row centrar">
        <div class="col-md-12 "><h1 class="letraT">EXCLUSIVOS DE PLAYSTATION</h1></div>
    </div><br><br>
    {% for i in juegos1 %}
        <div class="row">

            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="{% url 'Batman' i.id_videojuego %}" ><img src="{{i.foto.url}}"  alt="sin imagen" class="img"><br><p class="letraX">{{ i.nombreV }}</p></a>
            </div>
        </div><br><br>
    {% endfor %}







    </div>
{% endblock container %}    

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}
    