{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>PlayStation</title>
{% endblock titulo %}


{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
{% endblock fonts %}
    
{% block fondo %}
<body class="fondoP , cuP">
{% endblock fondo %}

{% block container %}
<div class="container">
    <br>

        <div class="row centrar">
            <div class="col-md-12"><h1 class="letraT">EXCLUSIVOS DE PLAYSTATION</h1></div>
        </div><br><br>
        
        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="{% url 'Batman' %}" ><img src="{% static 'extension./img/PLAYSTATION/batman arkham knight.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">BATMAN ARKHAM KNIGHT</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/BIOMUTANT.HTML" ><img src="{% static 'extension./img/PLAYSTATION/biomutant.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">BIOMUTANT</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/CHRONOS BEFORE THE ASHES.html" ><img src="{% static 'extension./img/PLAYSTATION/chronos before the ashes.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">CHRONOS BEFORE THE ASHES</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/DEMOS'N SOULS.html" ><img src="{% static 'extension./img/PLAYSTATION/demons souls.jpeg' %}"  alt="sin imagen" class="img" ><br><p class="letrap">DEMOS'N SOULS</p></a></div>
        </div><br><br>

        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/DETROIT BECOME HUMAN.html" ><img src="{% static 'extension./img/PLAYSTATION/detroit become human.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">DETROIT BECOME HUMAN</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/GHOST OF TSUSHIMA.html" ><img src="{% static 'extension./img/PLAYSTATION/ghost os tsushima.jpeg' %}"  alt="sin imagen" class="img" ><br><p class="letrap">GHOST OF TSUSHIMA</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/GOD OF WAR RAGNAROK.html" ><img src="{% static 'extension./img/PLAYSTATION/GOD OF WAR RAGNAROK.jpeg' %}"  alt="sin imagen" class="img" ><br><p class="letrap">GOD OF WAR RAGNAROK</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/GOD OF WAR.html" ><img src="{% static 'extension./img/PLAYSTATION/god of war.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap"> GOD OF WAR</p></a></div>
        </div><br><br>

        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/HORIZON FORBIDES WEST.html" ><img src="{% static 'extension./img/PLAYSTATION/horizon forbides west.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">HORIZON FORBIDES WEST</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/HORIZON ZERO DAWN.html" ><img src="{% static 'extension./img/PLAYSTATION/horizon zero dawn.jpeg' %}"  alt="sin imagen" class="img"><br><P class="letrap">HORIZON ZERO DAWN</P></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/KINGDOMS OF AMALUR.html" ><img src="{% static 'extension./img/PLAYSTATION/kingdoms of amalur.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">KINGDOMS OF AMALUR</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/MAFIA II.html" ><img src="{% static 'extension./img/PLAYSTATION/mafia ll.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">MAFIA II</p></a></div>
        </div><br><br> 
        
        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/SPIDERMAN.html" ><img src="{% static 'extension./img/PLAYSTATION/spiderman.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">SPIDERMAN</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/THE LAST OF US.html" ><img src="{% static 'extension./img/PLAYSTATION/the last of as part ll.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">THE LAST OF US PART II</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/THE SURGE 2.html" ><img src="{% static 'extension./img/PLAYSTATION/the surge 2.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">THE SURGE 2</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuP1" href="../Exclusivo Play/ZOMBIE DRIVER.html" ><img src="{% static 'extension./img/PLAYSTATION/zombie driver.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letrap">ZOMBIE DRIVER</p></a></div>
        </div><br><br>  







    </div>
{% endblock container %}    
    
    