{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Administrador</title>
{% endblock titulo %}
    
{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
{% endblock fonts %}    

{% block fondo %}
<body class="fondoPP">
{% endblock fondo %} 

{% block container %}
<div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="letraLo" style="border-radius: 0px;background: #0004ff;padding: auto;width: auto;height: auto;color: rgb(255 255 255); text-align: center;">Perfiles Definidos</h3>
                </div>
            </div><br><br>
{% endblock container %}
        
{% block tabla %}
            <div class="row">
                <div class="table-responsive">
                <table class="table">
                    <tr>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Contraseña</th>
                      <th>Celular</th>
                      <th>Edad</th>
                      <th>Fecha de Nacimiento</th>
                      <th>Genero</th>
                      <th>Rol</th>
                    </tr>
                    <tr>
                      <td>Alvaro Hernandez</td>
                      <td>alvarito.her@gmail.com</td>
                      <td>alvarito123</td>
                      <td>956742347</td>
                      <td>24 años</td>
                      <td>25, agosto 1998</td>
                      <td>Masculino</td>
                      <td>Usuario</td>
                    </tr>
                    <tr>
                      <td>Benito Benavides</td>
                      <td>B.benavides67@gmail.com</td>
                      <td>benit0Op</td>
                      <td>965786189</td>
                      <td>33 años</td>
                      <td>1, Diciembre 1990</td>
                      <td>Masculino</td>
                      <td>Usuario</td>

                    </tr>
                    <tr>
                      <td>Joao Lisboa</td>
                      <td>joa.lis@gmail.com</td>
                      <td>html123</td>
                      <td>973826485</td>
                      <td>22 años</td>
                      <td>4, agosto 2000</td>
                      <td>Masculino</td>
                      <td>Administrador</td>

                    </tr>
                    
                  </table>
                </div>
            </div>
{% endblock tabla %} 

{% block cuerpo %}
<div class="row">
                <div class="col-md-6 col-sm-6">
                    <input type="submit" value="Modificar Perfil" class="btn btn" style="color: rgb(255, 255, 255); background-color: rgb(97, 97, 97);">
                </div>
                <div class="col-md-6 col-sm-6" style="text-align: right;">
                    <input  type="submit" value="Eliminar Perfil" class="btn btn" style="color: rgb(255, 255, 255); background-color: rgb(97, 97, 97);" >
                </div>
            </div><br><br>
          <div class="row">
            <div class="col-md-2 col-sm-3"></div>
            <div class="col-md-8 col-sm-6">
            <table class="table">
                <tr><th class="centrar">Perfil de: Alvaro Hernandez</th></tr>
                <tr>
                  <th class="centrar">Estaba en duda si comprarme el videojuego Batman arkham knight o no comprármelo, pero gracias a la descripción 
                  y ver el tráiler me pareció un gran juego, gracias por la oportunidad de entrar a su sitio web me parece espectacular sigan así.</th>
                </tr>
            </table>  
              </div>
            <div class="col-md-2 col-sm-3"></div>

            
            <input  type="submit" value="Eliminar comentario"  class="btn btn" style="margin-left: 30%;margin-right: 40%; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97);" >

          </div>
          <div class="row">
            <div class="col-md-2 col-sm-3"></div>
            <div class="col-md-8 col-sm-6">
              <table class="table">
                <tr><th class="centrar">Perfil de: Benito Benavides</th></tr>
                <tr>
                  <th class="centrar">La pagina es mala no entren en ella, quiero que la eliminen.</th>
                </tr><br><br>
              </table> 
            </div>
            
          <div class="col-md-2 col-sm-3"></div>
            <input  type="submit" value="Eliminar comentario" class="btn btn " style="margin-left: 30%; margin-right: 40%; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97);" >
          </div><br>
          <p style="text-align: center;background-color: #ffffff;;" ><a href="{% url 'Agregar' %}" >🢂🢂🢂Ir a agregar un nuevo juego🢀🢀🢀</a></p><br><br><br>



          

          
          

    
          
          
        

              
        



    
    
    </div>
{% endblock cuerpo %}            
            
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}     