<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Agregar Juego</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'extension/./CSS/admin.css' %}"/>
  </head>

<body class="fondoPP">

  <div><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{% url 'Login' %}"><h3>GameTopia</h3></a>
    <a class="navbar-brand" href="{% url 'Administrador' %}" style="margin-left: 25px;" >Usuarios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
              <a class="nav-link" href="{% url 'Comentarios' %}">Comentarios<span
                      class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
              <a class="nav-link" href="{% url 'ModificarJuegos' %}">Modificar Juegos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Agregar' %}">Agregar Juegos</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'AgregarRP' %}">Agregar Rol</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'AgregarPla' %}">Agregar Plataforma</a>
          </li>

          <li class="nav-item active">
              <a class="nav-link disabled" href="{% url 'Login' %}">Cerrar Sesion</a>
          </li>
        
      </ul>
      
    </nav>
    </div><br>


<div class="container" class="fondo">
      <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6" style="margin-top: 20px;">
          <form action="{% url 'formAgregarJ' %}" method="POST" id="formJuego" class="fondoform" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
              <h1 class="centrar letraLo">Agrega un juego</h1>
            </div>

              <div class="grupo">
                <input type="text" name="NombreJ" id="NombreJ"><span class="barra" ></span>
                <label for=""><h5>Nombre del juego</h5></label>
              </div>

                    <div class="grupo">
                      <input type="text" name="DescripcionJ" id="DescripcionJ"><span class="barra" ></span>
                      <label for=""><h5>Descripción</h5></label>
                    </div>

                    <div class="grupo">
                      <input type="text" name="TrailerJ" id="TrailerJ"><span class="barra" ></span>
                      <label for=""><h5>Trailer</h5></label>
                    </div>

                    <div class="grupo">
                      <label for="exampleFormControlFile1" ><h5>Seleccione foto del juego</h5></label>
                      <input accept="image/png,image/jpeg" type="file" class="barra form-control-file" id="SeleccioneJ" name="SeleccioneJ" required>
                    </div>
                    <div class="grupo">
                      <input type="text" name="LinkJ" id="LinkJ"><span class="barra" ></span>
                      <label for=""><h5>Link</h5></label>
                    </div>

                    <div class="grupo">
                      <label>Plataforma</label>
                     <select class="form-control" name="plataforma" id="plataforma">
                         {% for z in Plataformas %}
                         <option value="{{ z.id_plataforma }}">{{ z.nombrePLA }}</option>
                         {% endfor %}
                     </select>
                  </div>

                     
                    
                    
                    
        <div class="col-md-3 col-sm-3"></div>
              <div class="row">
                <div class="col-md-6">
                  <input type="submit" value="Enviar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-right: auto;">
                </div>
                <div class="col-md-6"><input type="reset" value="Limpiar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">
                </div></div>
                <p class="warnings" id="mensaje_agregar"></p>
              </form>
              </div>    
        </div>
        <br><br>







    </div>    




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" 
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" 
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
crossorigin="anonymous"></script>



<script src="{% static 'extension/Validaciones/agregar.js' %}"></script>  
</body>  
</html>
