{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Agregar Juego</title>
{% endblock titulo %}


{% block JQuery %}
<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock JQuery %}

{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
{% endblock fonts %}    
    
    
{% block fondo %}
<body class="fondoPP">
{% endblock fondo %} 

{% block cuerpo %}
<div class="container" class="fondo">
      <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6" style="margin-top: 20px;">
          <form action="{% url 'formAgregarJ' %}" method="POST" id="formJuego" class="fondoform">
            {% csrf_token %}
            <div class="form">
              <h1 class="centrar letraLo">Agrega un juego </h1>
            </div>

            <div class="grupo">
              <input type="number" name="id_juego" id="id_juego"><span class="barra" ></span>
              <label for=""><h5>ID videojuego</h5></label>
            </div>

              <div class="grupo">
                <input type="text" name="NombreJ" id="NombreJ"><span class="barra" ></span>
                <label for=""><h5>Nombre del juego</h5></label>
              </div>
                    <div class="grupo">
                      <input type="text" name="DescripcionJ" id="DescripcionJ"><span class="barra" ></span>
                      <label for=""><h5>Descripción</h5></label>
                    </div>

                    <div class="grupo">
                      <input type="date" name="FechaJ" id="FechaJ"><span class="barra" ></span>
                      <label for=""><h5>Fecha de lanzamiento</h5></label>
                    </div>
                    
                    <div class="grupo">
                      <input type="text" name="TrailerJ" id="TrailerJ"><span class="barra" ></span>
                      <label for=""><h5>Links</h5></label>
                    </div>
                    <div class="grupo">
                      <label for="exampleFormControlFile1"><h5>Seleccione foto del juego</h5></label>
                      <input accept="image/png, image/jpeg" type="file" class="barra" id="SeleccioneJ" name="SeleccioneJ">
                    </div> 
                    
                    
                    
        <div class="col-md-3 col-sm-3"></div>
              <div class="row">
                <div class="col-md-6">
                  <input type="submit" value="Enviar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-right: auto;">
                </div>
                <div class="col-md-6"><input type="reset" value="Limpiar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">
                </div></div>
                <p class="warnings" id="mensaje_agregar"></p>
              </form>
              </div>    
        </div>
        <br><br>







    </div>    
{% endblock cuerpo %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}

{% block validaciones %}
<script src="{% static 'extension/Validaciones/agregar.js' %}"></script>  
{% endblock validaciones %}    
    
