{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Contacto</title>
{% endblock titulo %}
    
{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">    
{% endblock fonts %}    

{% block fondo %}
<body class="fondoPP">
{% endblock fondo %}

{% block Pantalla %}
<a class="navbar-brand" href="{% url 'Pantalla' contac.idUsuario %}"  style="margin-left: 25px;" >Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
{% endblock Pantalla %}

{% block nintendo %}
<li class="nav-item active">
    <a class="nav-link disabled  cuN1" href="{% url 'Nintendo' contac.idUsuario %}">Nintendo</a>
</li>
{% endblock nintendo %}

{% block Xbox %}
<li class="nav-item active">
    <a class="nav-link disabled  cuX1" href="{% url 'xbox' contac.idUsuario %}">Xbox</a>
</li>
{% endblock Xbox %}

{% block Play %}
<li class="nav-item active">
    <a class="nav-link disabled  cuP1" href="{% url 'Play' contac.idUsuario %}">PlayStation</a>
</li>
{% endblock Play %}

{% block PC %}
<li class="nav-item active">
    <a class="nav-link disabled  cuPC1" href="{% url 'Pc' contac.idUsuario %}">PC</a>
</li>
{% endblock PC %}

{% block Contacto %}
<li class="nav-item active">
    <a class="nav-link disabled " href="{% url 'Contacto' contac.idUsuario %}">Contactanos</a>
</li>
{% endblock Contacto %}

{% block verperfil %}
<a class="dropdown-item " href="{% url 'VerPerfil' contac.idUsuario %}">Ver perfil</a>
{% endblock verperfil %}

{% block Modificarperfil %}
<a class="dropdown-item " href="{% url 'ModificarP' contac.idUsuario %}">Modificar Perfil</a>
{% endblock Modificarperfil %}
    
    
{% block cuerpo %}
<div class="container-fluid" class="fondo">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <br><br><div class="card">
                    <img src="{% static 'extension/img/Perfiles/jony.jpg' %}" alt="John" style="width:300px;height:300px;">
                    <h2 class="letraLo">Jonathan Riveros</h2>
                    <p class="title , letraLo">Creador y fundador de GameTopia</p>
                    <h5 class="letraLo"><p>Harvard University</p></h5>
                    <h5 class="letraLo"><p>Analista Programador Computacional</p></h5>
                    <div style="margin: 5px 0;">
                      <a  href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
                      <a  href="https://twitter.com/"><i class="fa fa-twitter"></i></a>  
                      <a  href="https://cl.linkedin.com/"><i class="fa fa-linkedin"></i></a>  
                      <a  href="https://es-la.facebook.com/"><i class="fa fa-facebook"></i></a> 
                    </div>
                    
                  </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <br><br><div class="card " >
                    <img src="{% static 'extension/img/Perfiles/joao.jpg' %}" alt="John" style="width:300px;height:300px;">
                    <h2 class="letraLo">Joao Lisboa</h2>
                    <p class="title , letraLo">Creador y fundador de GameTopia</p>
                    <h5><p class="letraLo">Stanford University</p></h5>
                    <h5 class="letraLo"><p>Analista Programador Computacional</p></h5>
                    <div style="margin: 5px 0;">
                      <a  href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
                      <a  href="https://twitter.com/"><i class="fa fa-twitter"></i></a>  
                      <a  href="https://cl.linkedin.com/"><i class="fa fa-linkedin"></i></a>  
                      <a  href="https://es-la.facebook.com/"><i class="fa fa-facebook"></i></a> 
                    </div>
                    
                  </div>
            </div>
        
          <div class="col-md-4 col-sm-4">
            <br><br><div class="card " >
              <img src="{% static 'extension/img/Perfiles/genaro.jfif' %}" alt="John" style="width:300px;height:300px;" >
              <h2 class="letraLo">Genaro Espinoza</h2>
              <p class="title , letraLo">Creador y fundador de GameTopia</p>
              <h5><p class="letraLo">Princeton University</p></h5>
              <h5 class="letraLo"><p>Analista Programador Computacional</p></h5>
              <div style="margin: 5px 0;">
                <a  href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
                <a  href="https://twitter.com/"><i class="fa fa-twitter"></i></a>  
                <a  href="https://cl.linkedin.com/"><i class="fa fa-linkedin"></i></a>  
                <a  href="https://es-la.facebook.com/"><i class="fa fa-facebook"></i></a> 
              </div>
              
            </div>
          </div>
        </div>



      
  
        
        
        


          
    </div>    
{% endblock cuerpo %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}
    
    