<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Modificar Juegos</title>

    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'extension/./CSS/admin.css' %}"/>
   
  </head>

<body class="fondoPP">

    <div><nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'Login' %}"><h3>GameTopia</h3></a>
        <a class="navbar-brand" href="{% url 'Administrador' %}"  style="margin-left: 25px;" >Usuarios</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
    
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'Comentarios' %}">Comentarios<span
                          class="sr-only">(current)</span></a>
              </li>
    
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'ModificarJuegos' %}">Modificar Juegos</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'Agregar' %}">Agregar Juegos</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="{% url 'AgregarRP' %}">Agregar Rol</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="{% url 'AgregarPla' %}">Agregar Plataforma</a>
              </li>
    
              <li class="nav-item active">
                  <a class="nav-link disabled" href="{% url 'Login' %}">Cerrar Sesion</a>
              </li>
            
          </ul>
          
        </nav>
        </div><br>

<div class="container">


    <form action="{% url 'modiJuegos' %}" method="POST" enctype="multipart/form-data" class="fondoform" name="formulario">
        
        {% csrf_token %}

        <h1 class="centrar letraLo">Modificar Juego </h1>

        <div class="grupo">
            <label for="" ><h5 style="color: #2196f3;">Foto actual</h5></label><br>
            <img src="{{ datos.foto.url }}"  alt="Avatar" style="width:150px;height:150px;">
            </div>

          <div class="grupo">
           <input accept="image/png,image/jpeg" type="file" class="form-control-file , letraLo , cu1" name="fotoMV" id="fotoMV" style="color: #2196f3"><span class="barra" ></span>
            <label for=""><h5>Cambiar foto de perfil</h5></label>
        </div>

        <div class="grupo">
            <label>ID Videojuego</label>
            <input readonly value="{{ datos.id_videojuego }}" type="number" class="form-control" id="idV" name="idV">
        </div>

        <div class="grupo">
            <label>Nombre</label>
            <input type="text" class="form-control"  required value="{{ datos.nombreV }}" id="nombreV" name="nombreV"><span class="barra" ></span>
        </div>

        <div class="grupo">
            <label>Descripción</label>
            <input type="text" class="form-control" required value="{{ datos.descripcion }}" id="descripcion" name="descripcion">
        </div>

        <div class="grupo">
            <label>Trailer</label>
            <input type="text" class="form-control" required value="{{ datos.trailer }}" id="trailer" name="trailer">
        </div>

        <div class="grupo">
            <label>Tienda de videojuego</label>
            <input type="text" class="form-control" required value="{{ datos.link }}" id="link" name="link">
        </div>

        <div class="grupo">
            <label>Plataforma</label>
           <select class="form-control" name="plataformaM" required id="plataformaM">
                {% for r in lista_plataformas %}
                    {% if r.id_plataforma == datos.plataforma.id_plataforma %}
                        <option value="{{ r.id_plataforma }}" selected>{{ r.nombrePLA }}</option>
                    {% else %}
                        <option value="{{ r.id_plataforma }}">{{ r.nombrePLA }}</option>
                    {% endif %}
                {% endfor %}
           </select>
        </div>
        <input type="submit" value="Enviar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">

    </form><br><br>



















</div>
           
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" 
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" 
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
crossorigin="anonymous"></script>
</body>  
</html>     