{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Modifica tu perfil</title>
{% endblock titulo %}


{% block JQuery %}
<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock JQuery %}
    
{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
{% endblock fonts %}    

{% block fondo %}
<body class="fondoPP">
{% endblock fondo %} 
    
{% block cuerpo %}
<div class="container" class="fondo">
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-12 col-sm-12">
                
                <form action="{% url 'formAgregarM' %}" method="POST" name="formModificar" id="formModificarP" class="fondoform" enctype="multipart/form-data">
                  {% csrf_token %}
                  <h1  class="centrar , letraLo ,cu ">Modificar perfil</h1>

                  <div class="grupo">
                    <label for="" ><h5 style="color: #2196f3;">Foto actual</h5></label><br>
                    <img src="{{ olvidado.fotoU.url }}"  alt="Avatar" style="width:150px;height:150px;">
                    </div>

                  <div class="grupo">
                   <input accept="image/png,image/jpeg" type="file" class="form-control-file , letraLo , cu1" name="fotoP" id="fotoP"  style="color: #2196f3"><span class="barra" ></span>
                    <label for=""><h5>Cambiar foto de perfil</h5></label>
                </div>
                <div class="grupo">
                  <input type="text" readonly name="emailM" id="emailM" value="{{ olvidado.correo }}"><span class="barra" ></span>
                  <label for=""><h5>Correo actual</h5></label>
                </div>
                    
                    <h4 class="letraLo , cu" >Cambiar contraseña:</h4>
                    
                    <div class="grupo">
                      <input type="password" name="passwordN"  id="claveN"><span class="barra" ></span>
                      <label for=""><h5>Contraseña Nueva</h5></label>
                  </div>
                  <div class="grupo">
                          <input type="password" name="con_passwordM"  id="claveCN"><span class="barra"  ></span>
                          <label for=""><h5>Confirmar Contraseña</h5></label>
                      </div>

                    

                    <div class="row">
                      <div class="col-md-6">
                        <input type="submit" value="Enviar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">
                      </div>
                      <div class="col-md-6">

                        <input type="reset" value="Limpiar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">
                      </div>
                    </div><br>

                    <p class="warnings" id="mensaje_modificarP"></p>
                    
                </form>
            </div></div><br><br>
      
          
    </div>    
{% endblock cuerpo %}
    
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}   
    
{% block validaciones %}
<script src="{% static 'extension/Validaciones/modificarP.js' %}"></script>
{% endblock validaciones %}