{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Pantalla Principal</title>
{% endblock titulo %}
    
{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">    
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

{% endblock fonts %}    

{% block fondo %}
<body class="fondoPP">
{% endblock fondo %} 

{% block Pantalla %}
<a class="navbar-brand" href="{% url 'Pantalla' Panta.idUsuario %}"  style="margin-left: 25px;" >Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
{% endblock Pantalla %}

{% block nintendo %}
<li class="nav-item active">
    <a class="nav-link disabled  cuN1" href="{% url 'Nintendo' Panta.idUsuario %}">Nintendo</a>
</li>
{% endblock nintendo %}

{% block Xbox %}
<li class="nav-item active">
    <a class="nav-link disabled  cuN1" href="{% url 'xbox' Panta.idUsuario %}">Xbox</a>
</li>
{% endblock Xbox %}

{% block Play %}
<li class="nav-item active">
    <a class="nav-link disabled  cuN1" href="{% url 'Play' Panta.idUsuario %}">PlayStation</a>
</li>
{% endblock Play %}

{% block PC %}
<li class="nav-item active">
    <a class="nav-link disabled  cuN1" href="{% url 'Pc' Panta.idUsuario %}">PC</a>
</li>
{% endblock PC %}

{% block Contacto %}
<li class="nav-item active">
    <a class="nav-link disabled  cuN1" href="{% url 'Contacto' Panta.idUsuario %}">Contactanos</a>
</li>
{% endblock Contacto %}

{% block verperfil %}
<a class="dropdown-item " href="{% url 'VerPerfil' Panta.idUsuario %}">Ver perfil</a>
{% endblock verperfil %}

{% block Modificarperfil %}
<a class="dropdown-item " href="{% url 'ModificarP' Panta.idUsuario %}">Modificar Perfil</a>
{% endblock Modificarperfil %}
     
{% block cuerpo %}
<div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h5 style="border-radius: 10px;
          background: #ffffffc9;
          padding: auto;
          width: auto;
          height: auto; color: rgb(0, 0, 0); " class="centrar">GameTopia es una de las mejores páginas de juegos.
                    Descubre nuestra selección de juegos que convertirán tu navegador en la mejor plataforma de
                    diversión.
                    GameTopia es la página de juegos más completa, en la que encontrarás toda la diversión a un clic de
                    distancia. ¿A qué esperas para explorar?</h5>
            </div>
        </div><br>

        <div class="container gallery-container">

            <h1 style="margin-top: -17px;padding-top: 20px;">Destacados de cada plataforma</h1>
                                
            <a class="cuN1" >
                <p class="page-description" style="font-size: x-large;background-color: rgba(253, 2, 2, 0.815);color: rgb(0, 0, 0);">NINTENDO</p>
            </a>

            <div class="tz-gallery">

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'extension/img/NINTENDO/animal-crossing.jpg' %}">
                            <img src="{% static 'extension/img/NINTENDO/animal-crossing.jpg' %}" alt="Park">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox " href="{% static 'extension/img/NINTENDO/ARMS.jpg' %}">
                            <img src="{% static 'extension/img/NINTENDO/ARMS.jpg' %}" alt="Bridge">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="{% static 'extension/img/NINTENDO/bayonetta-2.jpg' %}">
                            <img src="{% static 'extension/img/NINTENDO/bayonetta-2.jpg' %}" alt="Tunnel">
                        </a>
                    </div>
                </DIV>
                <a class="cuX1" >
                    <p class="page-description" style="font-size: x-large;background-color: rgba(0, 95, 51, 0.815);color: rgb(0, 0, 0);">XBOX</p>
                </a>
                <div class="tz-gallery">

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="{% static 'extension/img/XBOX/A PLAGUE TALE.jpeg' %}">
                                <img src="{% static 'extension/img/XBOX/A PLAGUE TALE.jpeg' %}" alt="Coast">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="{% static 'extension/img/XBOX/forza motorsport.jpeg' %}">
                                <img src="{% static 'extension/img/XBOX/forza motorsport.jpeg' %}" alt="forza">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="{% static 'extension/img/XBOX/DESTINY.jpg' %}">
                                <img src="{% static 'extension/img/XBOX/DESTINY.jpg' %}" alt="DESTINY">
                            </a>
                        </div>
                    </DIV>
                </DIV>
                <a class="cuPC1" >
                    <p class="page-description" style="font-size: x-large;background-color: rgba(131, 24, 180, 0.719);color: rgb(0, 0, 0);">PC</p>
                </a>
                <div class="tz-gallery">

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="{% static 'extension/img/PC/BattleTech.png' %}">
                                <img src="{% static 'extension/img/PC/BattleTech.png' %}" alt="battle">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="{% static 'extension/img/PC/Black Mesa.jpg' %}">
                                <img src="{% static 'extension/img/PC/Black Mesa.jpg' %}" alt="Black">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="{% static 'extension/img/PC/Crusader Kings III.jpg' %}">
                                <img src="{% static 'extension/img/PC/Crusader Kings III.jpg' %}" alt="Crusader">
                            </a>
                        </DIV>
                    </DIV>
                </DIV>
                <a class="cuP1" >
                    <p class="page-description" style="font-size: x-large;background-color: rgba(10, 42, 148, 0.815);color: rgb(0, 0, 0);">PLAYSTATION</p>
                </a>

                <div class="tz-gallery">

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="{% static 'extension/img/PLAYSTATION/batman arkham knight.jpeg' %}">
                                <img src="{% static 'extension/img/PLAYSTATION/batman arkham knight.jpeg' %}" alt="batman">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="{% static 'extension/img/PLAYSTATION/biomutant.jpeg' %}">
                                <img src="{% static 'extension/img/PLAYSTATION/biomutant.jpeg' %}" alt="biomutant">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox" href="{% static 'extension/img/PLAYSTATION/chronos before the ashes.jpeg' %}">
                                <img src="{% static 'extension/img/PLAYSTATION/chronos before the ashes.jpeg' %}" alt="before">
                            </a>
                        </div>
                    </DIV>




                </DIV>
            </DIV>
        </DIV><br>
        <p style="text-align: center;background-color: #ffffff;;"><a href="{% url 'WebServices' %}">🢂🢂🢂¿Quieres saber el
                porque los días son festivos?🢀🢀🢀</a></p><br><br><br>

    </div>
{% endblock cuerpo %}

    


    
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}