{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Ver perfil</title>
{% endblock titulo %}
    
{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
{% endblock fonts %}    

{% block fondo %}
<body class="fondoPP">
{% endblock fondo %} 
 
{% block cuerpo %}
<div class="container" class="fondo">
        
        <div class="row" >
            <div class="col-md-12 col-sm-12">
                <h1 class="titulodestacado" >Bienvenido a tu perfil podrás apreciar todos tus datos pasando el mouse sobre tu foto.</h1>
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <br><br><br><br><br><div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="{% static 'extension/img/Perfiles/alvaro.jpg' %}" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                      <br><h4 class="letraLo">Alvaro Hernandez</h4> 
                      <h5><p class="letraLo">alvarito.her@gmail.com</p></h5>
                      <h5><p class="letraLo">  ********123</p> </h5>
                      <h5><p class="letraLo">956742347</p></h5>
                      <h5><p class="letraLo">24 años</p></h5>
                      <h5><p class="letraLo">25, agosto 1998</p></h5>
                      <h5><p class="letraLo">Masculino</p></h5>
                      
                    </div>
                    
                  </div>
                </div><br><br><br><br><br>
          </div><br><br><br><br><br>
            <div class="col-md-4 col-sm-12">
                <br><br><br><br><br><div class="flip-card" >
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'extension/img/Perfiles/benito.b.jpg' %}" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <br><h4 class="letraLo">Benito Benavides</h4> 
                        <h5><p class="letraLo">B.benavides67@gmail.com</p></h5>
                        <h5><p class="letraLo">******0Op</p> </h5>
                        <h5><p class="letraLo">965786189</p></h5>
                        <h5><p class="letraLo">32 años</p></h5>
                        <h5><p class="letraLo">2, Diciembre 1990</p></h5>
                        <h5><p class="letraLo">Masculino</p></h5>
                        
                      </div>
                      
                    </div>
                  </div>
            </div>                
    </div> 
{% endblock cuerpo %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}     
    