{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Animal Crossing</title>
{% endblock titulo %}

{% block JQuery %}
<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock JQuery %}

{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet">
{% endblock fonts %}

{% block fondo %}
<body class="fondoPP">
{% endblock fondo %}


{% block container %}
<div class="container">

    <br><br>

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <img class="img" src="{% static 'extension./img/NINTENDO/animal-crossing.jpg' %}" alt="sin imagen">
        <H3 class="letraVJ , centrar" style="background-color: rgba(255, 255, 255, 0.9); margin-right: 29%;">ANIMAL
          CROSSING</H3>
      </div>
      <div class="col-md-8 col-sm-12" style="margin-top: 7%;">
        <table class="table-responsive">
          <tr>
            <th class="centrar , letraVJ">
              <h4>Descripción</h4>
            </th>
          </tr>
          <tr>
            <th class="centrar , letraVJ">
              <h5>Animal Crossing es un videojuego de simulación social y de vida que Nintendo ha descrito como un
                «juego de comunicación».
                El personaje vive una vida en la que el usuario decide qué hacer, como cumplir las tareas propuestas por
                los vecinos (que no son obligatorias).
                Los jugadores asumen el rol de un nuevo vecino que se acaba de mudar al pueblo. El género y la cara del
                personaje depende de las respuestas que
                se le den a las preguntas de un gato llamado Fran, el cual nos encontramos en el tren en el que el
                personaje viaja al pueblo.</h5>
            </th>
          </tr>
        </table>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <H3 class="letraVJ , centrar" style="background-color: rgba(255, 255, 255, 0.9); margin-right: 30%;">
          Plataformas<br>
          ° Nintendo Switch</H3><br>
        <br>
        <h2 clasS="letraVJ , centrar" style="background-color: rgba(255, 255, 255, 0.9); margin-right: 30%;">Trailer
        </h2><br>
        <p style="margin-left: 26%;"><a href="https://www.youtube.com/watch?v=5YPxiTLMcdg" target="_blank"><img
              src="{% static 'extension./img/PLAYSTATION/logoYoutube.png' %}" alt="youtube" class="logoY"></a></p>
      </div>
      
        <div class="col-md-8 col-sm-12">
          <form action="">
          <p style="margin-left: 12%;margin-right: 12%;"><textarea class="textarea" rows="6" cols="50" name="comment"
              placeholder="Deje su comentario aquí...." id="ComeJ" required></textarea></p>
          <p class="centrar" style="margin-left: 12%;margin-right: 12%;"><input value="Enviar" type="submit" class="btn btn , cu1"  style="color: rgb(255, 255, 255);background-color: rgba(97, 97, 97, 0.973);"></p>
        </form>

        </div>
      
    </div>


    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h2 class="centrar , letraVJ" style="background-color: rgba(255, 255, 255, 0.9);margin-right: 30%;">Tiendas
          disponibles</h2><br>
        <p style="margin-left: 26%;"><a
            href="https://www.nintendo.com/es-cl/store/products/animal-crossing-new-horizons-switch/" target="_blank">
            <img src="{% static 'extension./img/NINTENDO/nintendo.jpg' %}" alt="Juego Nintendo" class="logoY"></a></p>
      </div>
      <div class="col-md-8 col-sm-12"></div>

    </div><br><br>






  </div>
{% endblock container %}
  
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}
  
{% block validaciones %}
<script src="{% static 'extension/Validaciones/olvidado.js' %}"></script>
{% endblock validaciones %} 
