{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Nintendo</title>
{% endblock titulo %}

{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
{% endblock fonts %}
    
    
{% block fondo %}
<body class="fondoN , cuN">
{% endblock fondo %}

{% block container %}
<div class="container">
        <br>
        
        <div class="row centrar">
            <div class="col-md-12"><h1 class="letraT">EXCLUSIVOS DE NINTENDO</h1></div>
        </div>
        
        <br><br><div class="row">
            <div class="col-md-3 col-sm-6 centrar "><a class="cuN1" href="{% url 'Animal' %}" ><img src="{% static 'extension./img/NINTENDO/animal-crossing.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">ANIMAL CROSSING</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/ARMS.html" ><img src="{% static 'extension./img/NINTENDO/ARMS.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">ARMS</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/BAYONETTA 2.html" ><img src="{% static 'extension./img/NINTENDO/bayonetta-2.jpg' %}"  alt="sin imagen" class="img" ><br><p class="letraN">BAYONETTA 2</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/DONKEY KONG COUNTRY.html" ><img src="{% static 'extension./img/NINTENDO/Donkey kong country.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">DONKEY KONG COUNTRY</p></a></div>
        </div><br><br>

        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/FIRE EMBLEM WARRIORS.html" ><img src="{% static 'extension./img/NINTENDO/fire_emblem_warriors.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">FIRE EMBLEM WARRIORS</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/LEGEND ZELDA BREATH WILD.html" ><img src="{% static 'extension./img/NINTENDO/fire_emblem_warriors.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">LEGEND ZELDA BREATH WILD</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/MARIO KART 8.html" ><img src="{% static 'extension./img/NINTENDO/mario-kart-8-deluxe.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">MARIO KART 8</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/MARIO Y SONIC TOKIO.html" ><img src="{% static 'extension./img/NINTENDO/mario-y-sonic-jjoo-tokio.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">MARIO Y SONIC TOKIO</p></a></div>
        </div><br>

        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/METROID.html" ><img src="{% static 'extension./img/NINTENDO/Metroid prime.jpg' %}"  alt="sin imagen" class="img" ><br><p class="letraN">METROID</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/MONSTER HUNTER RISE.html" ><img src="{% static 'extension./img/NINTENDO/MONSTER HUNTER RISE.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">MONSTER HUNTER RISE</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/POKEMON LETS GO PIKACHU.html" ><img src="{% static 'extension./img/NINTENDO/pokemon-lets-go-pikachu.jpg' %}"  alt="sin imagen" class="img" ><br><p class="letraN">POKEMON LETS GO PIKACHU</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/SPLATOON 2.html" ><img src="{% static 'extension./img/NINTENDO/splatoon_2.jpg' %}"  alt="sin imagen" class="img"><p class="letraN">SPLATOON 2</p><br></a></div>
        </div><br><br> 

        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/STORY OF SEASONS.html" ><img src="{% static 'extension./img/NINTENDO/STORY OF SEASONS.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">STORY OF SEASONS</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/MARIO PARTY.html" ><img src="{% static 'extension./img/NINTENDO/super-mario-party.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">MARIO PARTY</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/SUPER SMASH BROS.html" ><img src="{% static 'extension./img/NINTENDO/Super-smash-bros.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">SUPER SMASH BROS</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a  class="cuN1" href="../Exclusivo Nintendo/XENOBLADE CHRONICLES 2.html" ><img src="{% static 'extension./img/NINTENDO/xenoblade-chronicles-2.jpg' %}"  alt="sin imagen" class="img" ><br><p class="letraN">XENOBLADE CHRONICLES 2</p></a></div>
        </div><br><br>
        







    </div>
{% endblock container %}   

    
