{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Nintendo</title>
{% endblock titulo %}

{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
{% endblock fonts %}
    
    
{% block fondo %}
<body class="fondoN , cuN">
{% endblock fondo %}

{% block nintendo %}
<li class="nav-item active">
    <a class="nav-link disabled , cuN1" href="{% url 'Nintendo' usuarios.idUsuario %}">Nintendo</a>
</li>
{% endblock nintendo %}

{% block verperfil %}
<a class="dropdown-item " href="{% url 'VerPerfil' usuarios.idUsuario %}">Ver perfil</a>
{% endblock verperfil %}

{% block container %}
<div class="container">
        <br>
        
        <div class="row centrar">
            <div class="col-md-12"><h1 class="letraT">EXCLUSIVOS DE NINTENDO</h1></div>
        </div>
        
        <br><br><div class="row">
            <div class="col-md-3 col-sm-6 centrar "><a class="cuN1" href="{% url 'Animal' %}" ><img src="{% static 'extension./img/NINTENDO/animal-crossing.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraN">ANIMAL CROSSING</p></a></div>
            
        </div><br><br>

        
        







    </div>
{% endblock container %}   

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}