{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Xbox</title>
{% endblock titulo %}


{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
{% endblock fonts %}
    
    
{% block fondo %}
<body class="fondoX , cuX" >
{% endblock fondo %}

{% block container %}
<div class="container">
        <br>

        <div class="row centrar">
            <div class="col-md-12 "><h1 class="letraT">EXCLUSIVOS DE XBOX</h1></div>
        </div><br><br>
        
        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="{% url 'DeadR' %}" ><img src="{% static 'extension./img/XBOX/DEAD RISING.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraX">DEAD RISING</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/DESTINY.html" ><img src="{% static 'extension./img/XBOX/DESTINY.jpg' %}"  alt="sin imagen" class="img" ><br><p class="letraX" > DESTINY</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/GEARS OF WAR 3.html" ><img src="{% static 'extension./img/XBOX/GEARS OF WAR 3.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraX">GEARS OF WAR 3</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/HALO INFINITE.html" ><img src="{% static 'extension./img/XBOX/HALO INFINITE.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraX">HALO INFINITE</p></a></div>
        </div><br><br>
          
        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/LEFT 4 DEAD.html" ><img src="{% static 'extension./img/XBOX/LEFT 4 DEAD.JPG' %}"  alt="sin imagen" class="img"><br><p class="letraX">LEFT 4 DEAD</p></a> </div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/GEARS OF WAR 4.html" ><img src="{% static 'extension./img/XBOX/GEARS OF WAR 4.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraX">GEARS OF WAR 4</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/MINECRAFT.html" ><img src="{% static 'extension./img/XBOX/MINECRAFT.jpg' %}"  alt="sin imagen" class="img"><br><p class="letraX">MINECRAFT</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/GEARS 5.html" ><img src="{% static 'extension./img/XBOX/gears5.jfif' %}"  alt="sin imagen" class="img"><br><p class="letraX">GEARS 5</p></a></div>
        </div><br><br>

        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/A PLAGUE TALE.html" ><img src="{% static 'extension./img/XBOX/A PLAGUE TALE.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letraX">A PLAGUE TALE </p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/FORZA MOTORSPORT 5.html" ><img src="{% static 'extension./img/XBOX/forza motorsport.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letraX">FORZA MOTORSPORT 5</p> </a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/HADES.html" ><img src="{% static 'extension./img/XBOX/HADES.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letraX">HADES</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/HELLBLADE.html" ><img src="{% static 'extension./img/XBOX/HELLBLADE.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letraX">HELLBLADE</p></a></div>
        </div><br><br>

        <div class="row">
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/PROTOTYPE.html" ><img src="{% static 'extension./img/XBOX/PROTOTYPE.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letraX">PROTOTYPE </p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/PAYDAY 2.html" ><img src="{% static 'extension./img/XBOX/PAYDAY 2.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letraX">PAYDAY 2</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1" href="../Exclusivo Xbox/NO MANS SKY.html" ><img src="{% static 'extension./img/XBOX/NO MANS SKY.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letraX">NO MANS SKY</p></a></div>
            <div class="col-md-3 col-sm-6 centrar"><a class="cuX1"  href="../Exclusivo Xbox/MORTAL KOMBAT 11.html" ><img src="{% static 'extension./img/XBOX/MORTAL KOMBAL 11.jpeg' %}"  alt="sin imagen" class="img"><br><p class="letraX">MORTAL KOMBAT 11</p></a></div>
        </div>  
    </div> <br><br>
        




        
    </div>
{% endblock container %}

    

